<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h1> Post </h1>
        <ul>
            {% for post in object_list %}
                <li> <a href="{% url 'article-detail' post.pk %}" >
                    {{ post.title }}
                    </a> -
                    <a href="{% url 'category' post.category|slugify %}">
                        {{ post.category }} -
                    </a>
                    {{ post.author.last_name }}
                    {{ post.author.first_name}} -
                    {{ post.date_public }} <br>
                    {{ post.snippet}}
                    <small>
                        {% if user.is_authenticated %}
                            {% if user.id == post.author.id or user.id == 1 %}
                                -
                                <a href="{% url 'update-post' post.pk %}">
                                (Edit)
                                </a>
                                <a href="{% url 'delete-post' post.pk %}">
                                    (Delete)
                                </a>
                            {% endif %}
                        {% endif %}
                    </small>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}

</body>
</html>
