<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id or user.id == 1 %}
                <h1> Update post ... </h1>
                <br> <br>
                <div class="mb-3">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
                        <button class="btn btn-light"> Update </button>
                    </form>
                </div>
            {% else %}
                <h1> Siz bu blogni ozgartira olmaysiz !!! </h1>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">
                Qoto bomi sanga botta isqirt, oldin registratsiyadan ot keyn kirasan jallab :) <br>
                                       undan kora ustiga bos
            </a>
        {% endif %}
    {% endblock %}
</body>
</html>
