<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user profile page</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        {% if user.is_authenticated %}
            <h1> Create User Profile Page ... </h1>
            <br> <br>
            <div class="mb-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-light"> Create Profile </button>
                </form>
            </div>
        {% else %}
            <a href="{% url 'login' %}">
                Sizga buyoqga kirishga ruxsat yoo, Kechiring oldin royhatdan oting
            </a>
        {% endif %}
    {% endblock %}
</body>
</html>
